.header {
    padding: 10px;
    text-align: center;
    border-bottom: solid;
    border-bottom-color: #e1e0e4;
    border-bottom-width: 4px;

}

.icon {
    padding: 5px 10px;
    margin-right: 5px;
    width: auto;
    height: 50px;
    transform: rotate(328deg);
    cursor: pointer;
}