.header {
    padding: 10px;
    text-align: center;
    border-bottom: solid;
    border-bottom-color: #b3aeae;
    border-bottom-width: 4px;

}

.icon {
    padding: 5px 10px;
    margin-right: 5px;
    width: auto;
    height: 50px;
}